<div class="modal-header">
    <h4>Upravljaj proizvodima {{product.name ? ' | ' + product.name : ''}}</h4>
    <button type="button" class="btn pull-right" ng-click="ctrl.cancel()">X</button>
</div>

<div class="modal-body" ng-show="view === 'list' && products.length">
    <label>Pretraga</label>
    <div class="row">
        <div class="col-md-9 form-group">
            <input type="text" class="form-control" ng-model="search.title" ng-trim="false">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-ninepixels" ng-click="ctrl.add()">Dodaj proizvod</button>
        </div>
    </div>

    <ul class="np-modal-list">
        <li ng-repeat="product in products| filter:search track by product.id">
            <div class="np-modal-list-name">{{product.title}}</div>
            <div class="np-modal-list-controls">
                <span ng-click="ctrl.update(product)"><i class="glyphicon glyphicon-pencil"></i></span>
                <span ng-click="ctrl.delete(product)"><i class="glyphicon glyphicon-trash"></i></span>
            </div>
        </li>
    </ul>
</div>

<div class="modal-body" ng-if="!products.length && view !== 'form'">
    <div class="np-modal-empty">
        Trenutno nemate proizvoda
        <a href="" ng-click="ctrl.add()">Dodaj prvi</a>
    </div>
</div>

<div class="modal-body" ng-show="view === 'form'">
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Naslov</label>
            <input type="text" class="form-control" ng-model="product.title" ng-change="ctrl.validate(product.title)" ng-trim="false" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 form-group">
            <label>Kategorija</label>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">{{product.page.name}}</button>
                <ul class="dropdown-menu">
                    <li ng-repeat="page in pages| orderBy: 'id' track by page.id">
                        <a ng-click="product.page = page; ctrl.validate(product.title)">{{page.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 form-group">
            <label>Template</label>
            <div class="dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">{{product.template}}</button>
                <ul class="dropdown-menu">
                    <li ng-repeat="(key, val) in templates">
                        <a ng-click="product.template = val">{{key}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>Slika</label>
            <div np-image-picker class="pick-image" ng-model="product.image" ng-click="manage()" ng-class="{'empty' : !product.image}">
                <img ng-if="product.image" ng-src="{{server_url + product.image.url}}" />
            </div>
        </div>

        <div class="col-md-6 form-group">
            <label>Galerija</label>
            <div class="dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">{{product.gallery.name}}</button>
                <ul class="dropdown-menu">
                    <li ng-repeat="gallery in galleries| orderBy: 'name'">
                        <a ng-click="product.gallery = gallery">{{gallery.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <label>Cena</label>
            <input type="number" class="form-control" ng-model="product.price">
        </div>
        <div class="col-md-4 form-group">
            <label>Valuta</label>
            <input type="text" class="form-control" ng-model="product.currency">
        </div>
        <div class="col-md-4 form-group">
            <label>Kolicina</label>
            <input type="number" class="form-control" ng-model="product.quantity">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label>Šifra proizvoda</label>
            <input type="text" class="form-control" ng-model="product.code">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label>Opis proizvoda</label>
            <textarea class="form-control" ng-model="product.description"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer" ng-show="view === 'form'">
    <button type="button" class="btn btn-ninepixels" ng-click="ctrl.save(product)">Sačuvaj</button>
</div>