<div class="row">
    <div class="col-md-6 form-group">
        <label>Navigation ({{language.name|| 'Default'}})</label>
        <input type="text" class="form-control" ng-model="metadata.navigation">
    </div>

    <div class="col-md-6 form-group">
        <label>Title ({{language.name|| 'Default'}})</label>
        <input type="text" class="form-control" ng-model="metadata.title">
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-group">
        <label>Description ({{language.name|| 'Default'}})</label>
        <textarea ng-model="metadata.description"></textarea>
    </div>
</div>