<div class="np-holding-container"></div>

<div class="np-toolbar-container toolbar-container">
    <div class="user-info pull-left">
        <div class="user">{{user.username}}</div>
    </div>

    <div class="btn-group" ng-controller="npPageCtrl as page">
        <button class="btn btn-toolbar" ng-click="page.manage()">
            <i class="toolbar-icon icon-control-page"></i>Stranice
        </button>
    </div>

    <div class="btn-group" ng-controller="npBlogCtrl as blog" ng-if="config.application.type === 'blog'">
        <button class="btn btn-toolbar" ng-click="blog.manage()">
            <i class="toolbar-icon icon-control-blog"></i>Blog
        </button>
    </div>

    <div class="btn-group" ng-controller="npProductsCtrl as product" ng-if="config.application.type === 'product'">
        <button class="btn btn-toolbar" ng-click="product.manage()">
            <i class="toolbar-icon icon-control-products"></i>Proizvodi
        </button>
    </div>

    <div class="dropdown-toolbar dropdown">
        <button class="btn btn-toolbar" type="button" data-toggle="dropdown">
            <i class="toolbar-icon icon-control-content"></i>Sadržaj <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-if="checkForApp('blog')"><a href="#" ng-controller="npBlogCtrl as blog" ng-click="blog.manage()">Blog</a></li>
            <li ng-if="checkForApp('product')"><a href="#" ng-controller="npProductsCtrl as product" ng-click="product.manage()">Proizvodi</a></li>
            <li><a href="#" ng-controller="npGalleryCtrl as gallery" ng-click="gallery.manage()">Galerije</a></li>
            <li ng-if="checkForApp('language')"><a href="#" ng-controller="npLanguageCtrl as language" ng-if="user.admin" ng-click="language.manage()">Lokalizacija</a></li>
        </ul>
    </div>

    <div class="dropdown-toolbar dropdown">
        <button class="btn btn-toolbar" type="button" data-toggle="dropdown">
            <i class="toolbar-icon icon-control-settings"></i>Podešavanja <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-controller="npUsersCtrl as user" ng-if="user.admin" ng-click="user.manage()">Korisnici</a></li>
            <li><a href="#" ng-controller="npComponentCtrl as component" ng-click="component.manage()">Komponente</a></li>
            <li><a href="#" ng-controller="npSettingsCtrl as settings" ng-if="user.admin" ng-click="settings.manage()">Osnovna podešavanja</a></li>
        </ul>
    </div>

    <div class="btn-group pull-right">
        <button class="btn btn-toolbar" ng-click="reload()">
            Osveži stranu
        </button>
        <button class="btn btn-toolbar" ng-click="logout()">
            <i class="toolbar-icon icon-control-log-out"></i>Odjavljivanje
        </button>
    </div>
</div>